* {
	box-sizing: border-box;
}

body {
	font-size: 20px;
	background-repeat: repeat;
}

h1 {
	font-size: 30px;
	font-family: monospace;
	color: orange;
}

header {
	text-align: center;
	padding: 60px;
}

.instructions>p {
	padding: 12px 0;
}

.gems {
	margin: 24px 0;
	height:300px;
	background-image: url("../../assets/img/background_img.jpg");
}

ul {
	background-repeat: repeat;
}

ul>li{
	padding: 30px;
}

img.crystal {
	width: 100px;
	height: auto;
}
ul>li:hover{
	border-bottom: 8px solid #727171;
}

#goal, #score, #wins, #losses, #status {
	color: orange;
	font-size: 30px;
	font-family: monospace;
}